@charset "utf-8";

@import 'desginfonts.scss';
// Importing variables
@import './variables.scss';

@import 'breakpoints';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

// Breakpoints.
html {
  scrollbar-color: #f9f0f0; /* thumb and track color */
  scrollbar-width: thin;
}
@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px
    ),
    large: (
      981px,
      1280px
    ),
    medium: (
      737px,
      980px
    ),
    small: (
      414px,
      525px
    ),
    xsmall: (
      362,
      413px
    ),
    s9: (
      null,
      361px
    )
  )
);
.fixa {
  position: fixed;
}
.tt {
  top: 50%;
  position: absolute;
}
.th {
  top: 50%;
  position: absolute;
  right: 1%;
}
.title {
  font-size: 1.5rem;

  &-abt {
    font-size: 4rem;
  }
}

.myriadproregular {
  font-family: 'MyriadProRegular', sans-serif;
}
.montserratmedium {
  font-family: 'montserratmedium', sans-serif;
}
.montserratregular {
  font-family: 'montserratregular', sans-serif;
}
.montserratregular-gray {
  font-family: 'montserratregular', sans-serif;
  color: #b5b5b5;
}
.archivo_blackregular {
  font-family: 'archivo_blackregular', sans-serif;
}
.primetimeregular {
  font-family: 'primetimeregular', sans-serif;
}
.has-margin {
  margin: 2% 0%;
}
.banner-mobile {
  @include breakpoint('<=small') {
    padding-top: 0px !important;
    margin-top: -3rem !important;
  }
}
.banner-bg {
  background: radial-gradient($primary-color, $secondary-color) !important;
}
.txt-laptop {
  @include breakpoint('>=xlarge') {
    font-size: 1rem !important;
    &-t {
      font-size: 3rem;
    }
  }

  @include breakpoint('large') {
    font-size: 0.8rem !important;
    &-t {
      font-size: 2.5rem;
    }
  }

  @include breakpoint('medium') {
    font-size: 0.6rem !important;
    &-t {
      font-size: 1.5rem;
    }
  }
}
.banner-text {
  display: block;
  font-size: 6rem;
  letter-spacing: 0.25em;
  padding-left: 4rem;
  z-index: 0;
  @include breakpoint('<=xlarge') {
    font-size: 3rem;

    padding-left: 5rem;
  }
  @include breakpoint('<=small') {
    font-size: 2rem;

    padding-left: 2rem;
  }
  @include breakpoint('<=xsmall') {
    font-size: 1.7rem;

    padding-left: 2rem;
  }
}
.about-me-mobile {
  @include breakpoint('<=small') {
    padding-bottom: 0rem !important;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}
.navItem {
  color: #f4efef;
}

.pagebg {
  background-color: $third-color;
}

.shoot-title {
  position: absolute;

  font-size: 3.5rem;

  z-index: +1;

  margin: 0 auto;

  left: -5rem;

  top: -2.5rem; /* Adjust this value to move the positioned div up and down */
  @include breakpoint('<=small') {
    font-size: 1.5rem;
    left: 0;
  }

  .subtitle {
    font-size: 2rem;
    @include breakpoint('<=small') {
      font-size: 0.9rem;
    }
  }
}
.shoot-background {
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: 0;

  margin: 0 auto;

  left: 0;

  top: 0;
  background-image: linear-gradient($third-color, transparent);
  opacity: 0.4;
  border-radius: 0.3rem;
  @include breakpoint('<=small') {
    width: 91.5%;
    opacity: 0.5;
  }
  @include breakpoint('<=xsmall') {
    width: 90.1%;
    opacity: 0.5;
  }
}
.snumber {
  position: absolute;

  font-size: 6.5rem;

  z-index: -1;

  margin: 0 auto;

  left: 75%;

  right: 0;

  top: -10%; /* Adjust this value to move the positioned div up and down */

  text-align: center;

  width: 60%; /* Set the width of the positioned div */
  @include breakpoint('<xlarge') {
    left: 78%;
    top: -14%;
  }
  @include breakpoint('<=small') {
    left: 65%;
    top: -8%;
  }
  @include breakpoint('<=xsmall') {
    left: 64%;
    top: -9%;
  }

  &-h {
    position: absolute;

    font-size: 6rem;

    z-index: -1;

    margin: 0 auto;

    left: 73%;

    right: 0;

    top: -10%; /* Adjust this value to move the positioned div up and down */

    text-align: center;

    width: 60%; /* Set the width of the positioned div */
    @include breakpoint('<xlarge') {
      left: 75%;
      top: -14%;
    }
    @include breakpoint('<=small') {
      left: 65%;
      top: -12%;
    }
  }
}
.shoot-margin {
  margin-top: 3em !important;
}

.hero-mobile {
  // position: absolute;
  // -o-object-fit: cover;
  // object-fit: cover;
  // -o-object-position: center center;
  // object-position: center center;
  // width: 100%;
  // height: 100%;

  @include breakpoint('<=medium') {
    min-height: 91.5vh !important;
    max-height: 100vh !important;
  }
  @include breakpoint('<=small') {
    min-height: 25.5vh !important;
    max-height: 31.8vh !important;
  }
  @include breakpoint('<=xsmall') {
    max-height: 26vh !important;
  }
  @include breakpoint('<=s9') {
    min-height: 21.5vh !important;
    max-height: 27.4vh !important;
  }
  //media for iPhone 6-8
  @media only screen and (device-width: 375px) and (device-height: 667px) {
    max-height: 31.8vh !important;
  }
  //Note 9
  @media only screen and (device-width: 414px) and (device-height: 846px) {
    max-height: 27.7vh !important;
  }
  //Note 3 or s5
  @media only screen and (device-width: 360px) and (device-height: 640px) {
    max-height: 31.7vh !important;
  }
  // iPhone SE/5/5s
  @media only screen and (device-width: 320px) and (device-height: 568px) {
    max-height: 31.9vh !important;
  }
  //iPhone XR
  @media only screen and (device-width: 414px) and (device-height: 896px) {
    min-height: 26.1vh !important;
    max-height: 26.1vh !important;
  }
  // Pixel 2
  @media only screen and (device-width: 411px) and (device-height: 731px) {
    min-height: 31.8vh !important;
  }
  // Pixel XL
  @media only screen and (device-width: 411px) and (device-height: 823px) {
    min-height: 28.2vh !important;
  }
  //Laptop with touch
  @media only screen and (device-width: 1280px) and (device-height: 950px) {
    min-height: 75.9vh !important;
  }
}
.che-hero {
  position: relative;
  z-index: +3 !important;
  display: block !important; /* Make the width of box same as image */
  max-width: 100%;
  @include breakpoint('<=large') {
    object-fit: contain !important;

    object-position: center top !important;
  }
}
.hero-blue {
  @include breakpoint('<=small') {
    object-fit: contain !important;
    object-position: center top !important;
  }
}
// .che-hero-small {
//   display: none; /* Make the width of box same as image */
// }

// @media only screen and (max-width: null, 465px) {
//   //some value
//   .che-hero {
//     display: none !important;
//   }

//   // .che-hero-small {
//   //   display: block;
//   //   position: relative;
//   //   z-index: +3 !important;
//   //   max-width: 100%;
//   //   background-size: contain !important;
//   //   padding-bottom: 0 !important;
//   //   margin-bottom: 0 !important;
//   // }
// }
.che-img {
  position: relative;
  z-index: +3 !important;
  display: block !important; /* Make the width of box same as image */
  width: 100%;

  @include breakpoint('<=small') {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
.che-img .textv {
  position: absolute;

  z-index: 1;

  margin: 0 auto;

  left: -10%;

  //right: 1%;

  top: 55%; /* Adjust this value to move the positioned div up and down */

  text-align: center;

  width: 20%; /* Set the width of the positioned div */
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  @include breakpoint('<xlarge') {
    font-size: 0.8rem;
    top: 45%;
    left: -11%;
  }

  text-orientation: mixed;
  @include breakpoint('<=small') {
    font-size: 0.5rem;
    top: 45%;
    left: -4%;
  }
}
.texth {
  @include breakpoint('<=small') {
    font-size: 0.5rem;
  }
}

.textvspace {
  @include breakpoint('>=medium') {
    margin-bottom: 10%;
  }
}
.shadow-img {
  box-shadow: 0.5rem 0.2rem 1rem 0.5rem rgba(10, 10, 10, 0.1),
    0 10px 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 0.3rem;
  padding: 0px;
}
//text size for laptop

.padding-abt {
  padding: 3rem 0 !important;
}
.padding-abt-txt-v {
  padding-top: 14rem;

  @include breakpoint('<=large') {
    padding-top: 10rem;
  }
  @include breakpoint('<=medium') {
    padding-top: 5rem;
  }

  @include breakpoint('<=small') {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.padding-abt-title-v {
  @include breakpoint('<=small') {
    padding-bottom: 0;
  }
}
.padding-image-h {
  @include breakpoint('<=small') {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
.hero {
  &-has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  &-is-transparent {
    opacity: 0.3;
  }
}
.footercenter {
  margin-left: 12.5%;
}

.vl {
  @include breakpoint('>xlarge') {
    position: absolute;
    border-left: 4px solid #373636;
    height: 100rem;
    right: 26%;

    &-h {
      position: absolute;
      border-left: 4px solid #373636;
      height: 100rem;
      right: 18%;
    }
  }
}

.iconpos {
  &-l {
    background-color: transparent;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;

    position: absolute;
    z-index: +10 !important;
    left: 1%;
    top: 50%;
    opacity: 0.5;
    :hover {
      color: white;
      opacity: 1 !important;
      cursor: pointer;
    }
    @include breakpoint('<=small') {
      padding: 0.7em !important;
    }
  }
  &-r {
    background-color: transparent;
    border: 0 !important;
    margin: 0 !important;
    padding: 0;

    position: absolute;
    right: 1%;
    z-index: +10 !important;
    top: 50%;
    opacity: 0.5;
    :hover {
      color: white;
      opacity: 1 !important;
      cursor: pointer;
    }
    @include breakpoint('<=small') {
      padding: 0.7em !important;
    }
  }
}
.get-in-touch {
  @include breakpoint('<=small') {
    padding-bottom: 0;
  }
}
.footer-txt {
  @include breakpoint('<=small') {
    font-size: 0.8rem !important;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-2 21:52:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-top 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 3s
    cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
  animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.61, 0.355, 1)
    1s both;

  &-1 {
    -webkit-animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
    animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 2s both;
  }
  &-2 {
    -webkit-animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
    animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 3s both;
  }
  &-3 {
    -webkit-animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 4s both;
    animation: tracking-in-contract-bck-top 3s
      cubic-bezier(0.215, 0.61, 0.355, 1) 4s both;
  }
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 0s steps(1, end) 3s both;
  animation: focus-in-contract-bck 0s steps(1, end) 3s both;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.8s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
