// VARIABLES
$size-1: 4.5rem;
$size-7: 0.35rem;
$primary-color: #fdc4d5;
$secondary-color: #fdc0d2;
$third-color: #f9f0f0;
$fourth-color: #1d6eb3;
$section-padding: 0rem 0rem;
$navbar-item-color: $third-color;
$navbar-background-color: $primary-color;
